html {
    font-size: 14px;
}

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.slides {
    flex-direction: column;
}

.card-deck .card {
    min-width: 220px;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.highlighted {
    border: 2px solid #007bff;
}


/* Add your CSS styles here */

.result-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    background-color: #f9f9f9;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}